.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    gap: 17px;
    justify-content: center;
}
@media (max-width: 900px){
    .cards{
        padding: 0 15px 0 15px;
    }
}