.cards__dscr{
    height: 79px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 21px;
}