.profile__information{
    width: calc(100% - 125px - 150px - 47px);
}
@media (max-width: 900px){
    .profile__information{
        width: 280px;
        margin: auto;
        text-align: center;
    }
}