.profile__vocation{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
}
@media (max-width: 880px){
    .profile__vocation{
        margin-top: 14px;
        font-size: 14px;
        line-height: 17px;
    }
}